# Activates the forwarding
    RewriteEngine On
# Specifies the directory where to start changing the URL.
    RewriteBase /cms/public
# This conditions that must be true.
# If the requested filename is not a directory
    RewriteCond %{REQUEST_FILENAME} !-d
# If the requested filename is not a regular file that exists
    RewriteCond %{REQUEST_FILENAME} !-f
# If the requested filename is not a symbolic link
    RewriteCond %{REQUEST_FILENAME} !-l
# then rewrite the URL in the following way

# ^(.+)$ means everything in the URL, which comes after the root
# If the written URL in the browser is /index/home
# index.php?url=$1 will be rewritten to index.php?url=home
# which the internal server can understand and process
# QSA -> if there is a query parameter passed with the original URL
# it will be appended to rewrite => for Example: index.php?url=home&id=1
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
# Prevents direct access to the .htaccess file
RewriteRule ^\.htaccess$ - [F]

